<table class="table table-striped">
  <thead>
    <tr>
      <th>Ügyfélkód</th>
      <th>Név</th>
      <th>Lakcím</th>
      <th>Telefonszám</th>
      <th>Személyi ig. szám</th>
    </tr>
  </thead>
  <tbody>
    @for (user of users; track $index) {
      <tr>
        <td>{{  user.customerId }}</td>
        <td>{{  user.name }}</td>
        <td>{{  user.address }}</td>
        <td>{{  user.phone }}</td>
        <td>{{  user.idCard }}</td>
        <td>
          <!-- button class="btn btn-outline-primary"
          (click)="getTransactionsOfUser(user.id)">Kimenő tranzakciók</button -->
          <button class="btn btn-outline-primary"
          (click)="goToUsersForm(user.id)">Kimenő tranzakciók</button>
          <button class="btn btn-outline-danger"
          (click)="deleteUser(user)">Törlés</button>
        </td>
      </tr>
    }
  </tbody>
</table>
