<div class="row">
  <div class="col-md-6">
      <form [formGroup]="transactionForm">
          <div class="mb-3">
              <label for="source" class="form-label">Küldő</label>
              <select class="form-select" id="source" formControlName="source">
                <!--
                  {
                    "amount": 1500,

                  }
                -->


                @for (user of users; track $index) {
                  <option [ngValue]="">{{ user.name }} ({{ user.customerId }})</option>
                }
              </select>
          </div>
          <div class="mb-3">
            <label for="destination" class="form-label">Fogadó</label>
            <select class="form-select" id="destination" formControlName="destination">
              @for (user of users; track $index) {
                <option [ngValue]="">{{ user.name }} ({{ user.customerId }})</option>
              }
            </select>
          </div>
          <div class="mb-3">
              <label for="amount" class="form-label">Összeg (Ft)</label>
              <input type="number" class="form-control" id="amount" formControlName="amount">
          </div>
      </form>
      <div class="text-end">
          <button class="btn btn-outline-primary" (click)="createTransaction()">Küldés</button>
      </div>
  </div>
</div>
