<div class="row">
  <div class="col-md-6">
      <form [formGroup]="userForm">
          <div class="mb-3">
              <label for="customerId" class="form-label">Ügyfélkód</label>
              <input type="text" class="form-control" id="customerId" formControlName="customerId">
          </div>
          <div class="mb-3">
              <label for="name" class="form-label">Név</label>
              <input type="text" class="form-control" id="name" formControlName="name">
          </div>
          <div class="mb-3">
              <label for="address" class="form-label">Lakcím</label>
              <input type="text" class="form-control" id="address" formControlName="address">
          </div>
          <div class="mb-3">
              <label for="phone" class="form-label">Telefonszám</label>
              <input type="text" class="form-control" id="phone" formControlName="phone">
          </div>
          <div class="mb-3">
              <label for="idCard" class="form-label">Személyi igazolvány szám</label>
              <input type="text" class="form-control" id="idCard" formControlName="idCard">
          </div>
      </form>
      <div class="text-end">
          <button class="btn btn-outline-primary" (click)="saveUser()">Mentés</button>
      </div>
  </div>
</div>
